<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>call-method.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>debug-objc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>isa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>method.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>objc-simulator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>objc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>305B27521C7D9E96005AC125</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72A15AD51CCCA22E00DCF938</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72E4B4211CC9D7090088B2D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72E4B42D1CC9D78C0088B2D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83E50CD70FF19E8200D74C19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2AAC0620554660B00DB518D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
